.frame {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 600px;
    border: 2px black;
    border-style: solid;
    border-radius: 10px;
    align-items: center;
    
}

.content {
    justify-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20%;

}

.addressbox {
    display: flex;
    align-items: flex-start;
    align-content: center;

}

.address {
    text-align: left;
    align-content: center;
    padding-right: 15%;
}

.contact {
    text-align: left;
    padding-left: 20%;
}

.copyright  {
padding-top: 15%%;
font-size: small;
margin-top: auto;
}